{% extends 'account/no_nav.html' %}
{% load crispy_forms_tags %}
{% block content %}
    
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-1"></div>
        <div class="col-6">
          <form action="" method="post">
            <div class="form-group">
                <h1>
                  Register
                </h1>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Login</button>

            </div>
          </form>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
{% endblock %}